# macOS
.DS_Store

# Xcode user-specific data
*.xcuserstate
xcuserdata/
*.xcworkspace/xcuserdata/

# Build artifacts
build/
DerivedData/

# Swift Package Manager
.swiftpm/
.build/

# Fastlane reports and screenshots
fastlane/report.xml
fastlane/Preview.html
fastlane/screenshots/

# Misc
*.log
